@import "../Abstract/mixins";
@import "../Abstract/variables";

@include margins;
@include paddings;
@include fontSizes;
@include fontWeights;
@include displays;

.text-center {
  text-align: center;
}

.text-primary-hover {
  color: $primary-color-hover;
}
.text-secondary {
  color: $secondary-color;
}
.text-white {
  color: #fff;
}
.text-dark {
  color: #757575;
}
.bg-primary {
  background-color: $primary-color;
}
.border-none {
  border: none;
}
.cursor-pointer {
  cursor: pointer;
}
